@import url('chart.css');
@import url('input.css');
@import url('footer.css');
@import url('header.css');

@import url('https://fonts.googleapis.com/css?family=Bellefair');

html {
    width: 100%;
    height: 100%;
    background: #ffcc44;
    color: #353535;
    text-align: center;
    font-family: 'Bellefair', serif;
}

body {
    min-height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

#main {
    flex: 1;
    display: flex;
}

.content {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    max-width: 1400px;
    padding: 1em 2em;
    margin: 0 auto
}

.controls {
    font-size: 24px;
    flex: 1;
    line-height: 1.6em;
}

a {
    color: #353535;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}


@media (max-width: 1000px) {
    .content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}